@charset "UTF-8";

@import 'variables';

.tooltip {
  position: relative;
  cursor: pointer;

  /* ツールチップの中身 */
  &:before {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1070;
    min-width: 200px;
    line-height: 20px;
    // min-height: 100px;
    @media screen and (min-width: 768px) {
      width: 500px;
    }
    // white-space: pre-wrap;
    padding: 7px;

    font-size: 1.4rem;
    color: $brown;
    // text-align: center;

    background-color: $yellow;
    border-radius: 4px;

    content: attr(data-text);

    /* デフォルトでツールチップは非表示 */
    opacity: 0;
    visibility: hidden;

    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s ease-out;
  }

  /* ツールチップの矢印 */
  &:after {
    position: absolute;

    top: 100%;
    margin-top: -7px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1070;

    border-color: transparent transparent $yellow transparent;
    border-style: solid;
    border-width: 1.1rem;

    content: '';

    /* デフォルトで非表示 */
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease-out;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    visibility: visible;
  }
}
