@charset "UTF-8";

/*---------------------------
  変数
---------------------------*/
// 色の指定
$orange: #ed8400;
$red: #ab243b;
$green: #19775f; //어휘
$navy: #2a3773; //문법
$vermilion: #d44a28; //언어규범
$purple: #9e1e53; //들어보기
$darkBrown: #3b2213;
$brown: #895d3b;
$brown: #6a421f;
$lightBrown: #cba67e;
$beige: #d6c7ba;
$base: #eee5df;
$black: #231815;
$gray: #494949;
$white: #ffffff;
$pink: #f1d9e9;
$yellow: #fffcf4;

// フォント
$krNamun: 'Nanum Gothic', sans-serif;
$krNoto: 'Noto Sans KR', sans-serif;
$krSunflower: 'Sunflower', sans-serif;
$krJua: 'Jua', sans-serif;
$krDokdo: 'Dokdo', cursive;
$krPoor: 'Poor Story', cursive;
$krSongmyong: 'Song Myung', serif;

//固定幅のサイズ
$maxWidth: 1400px;
$maxInnerWidth: 1150px;

// 余白の指定
$sideSpace: 6vw;

